# Created by .ignore support plugin (hsz.mobi)
.gitignore
PhalApi-example/vendor/symfony/finder/Tests/Fixtures/A/
PhalApi-example/vendor/symfony/finder/Tests/Fixtures/r+e.gex[c]a(r)s/
PhalApi-example/vendor/symfony/translation/Tests/fixtures/resourcebundle/corrupted/
.idea
PhalApi-example/Runtime/